.fundo {
    background: url(https://images.unsplash.com/photo-1515549832467-8783363e19b6?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
}

.container {
    display: flex;
    margin: flex; 
    height: flex;
    text-align: center;
    background-color: beige;
    border-radius: 50px;
}

.btn {
    display: inline-block; /* Use inline-block for button alignment */
    padding: 1rem; /* Adjust padding as necessary */
    border-radius: 30px;
}

/*.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-content: center;
    visibility: inherit;
}

.modal-content {
    background-color: beige;
    width: 400px;
    padding: 2rem 2rem 1rem;
    border-radius: 6px;
    visibility: visible;
} */

.row {
    padding: 20px;
    color: #595853;
}

.carousel-item {
    height: auto;
    width: auto;
}

.rodape {
    background-color: rgba(255, 255, 255, 0.63); /* Improved transparency */
    text-align: center;
    margin: auto;
    height: auto;
}
